#offer {
  height: 100vh;
  background: rgba(240,240,240,0.9);
  padding-top: 6em;
}

#offer p {
  padding: 0.2em 0;
  font-family: 'Nunito Sans', sans-serif;
}

.offer-details li {
  padding-top: 0.6em;
  padding-left: 10px;
}

.offer-details img {
  height: 15px;
  width: 15px;
}

.offer-last-info {
  font-weight: 600;
}

.link {
  text-decoration: none;
  color: #333;
}
