#offer {
  height: 100vh;
  background: rgba(240,240,240,0.9);
  padding-top: 6em;
}

#offer p {
  padding: 0.2em 0;
}
/*#offer p:last-child {*/
  /*padding-top: 0.8em;*/
/*}*/
/*.offer-details p {*/
  /*text-align: center;*/
/*}*/
/*.offer-details ul {*/
  /*list-style-image: url('../assets/images/box-list-item.png');*/
  /*height: 10px;*/
  /*width: 10px;*/
/*}*/
.offer-details li {
  padding-top: 0.6em;
  list-style: square;
  padding-left: 10px;
}

.offer-details img {
  height: 30px;
  width: 30px;
}